
// rem辅助函数
// 适合750宽度视觉搞
@function rem($px) {
  @return #{$px / 40}rem;
}

// 1px方案
@mixin _hairline($x, $y, $type) {
  position: absolute;
  content: "";
  #{$x}: 0;
  #{$y}: 0;
  #{$type}: 100%;

  transform-origin: #{$x} #{$y};

  @media (-webkit-min-device-pixel-ratio: 2) {
    #{$type}: 200%;
    transform: scale(0.5);
  }

  @media (-webkit-min-device-pixel-ratio: 3) {
    #{$type}: 300%;
    transform: scale(0.333);
  }
}

// 底边框1px，其他的根据需要可自行添加
@mixin hairline-bottom($color) {
  position: relative;
  &:after {
    height: 0;
    border-bottom: 1px solid $color;
    @include _hairline(left, bottom, width);
  }
}

// 多行省略
@mixin text-ellipsis($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if $line > 1 {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    flex-direction: column;
  } @else {
    display: block;
    white-space: nowrap;
  }
}


*, *:after, *:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family : "PingHei","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 0.8rem;
}

.price-component {
  color: #B12704;
  line-height: 1;
  align-items: flex-start;
  .unit {
    margin-right: 3px;
    font-family: Arial;
    font-size: 70%;
  }
  .integer {
  }
  .point, .fraction {
    font-size: 60%;
  }
}

.level-star-component {
  width: 73px;
  .bg {
    background: url('~./img/star.png') no-repeat -73px 0;
    background-size: 150px
  }
  .value {
    background: url('~./img/star.png') no-repeat 0 0;
    background-size: 150px;
    height: 15px;
  }
}


:local(.search) {
  padding: rem(14) rem(16) rem(14);
  background: #262f3e;
  .wrapper {
    display: flex;
    padding: rem(8) rem(16);
    background: #fff;
    border-radius: 5px;
  }
  .icon {
    fill: #b7b7b7;
    width: 1rem;
    height: 1rem;
    margin-right: rem(10);
  }
  input {
    display: block;
    flex: 1;
    border: none;
    color: #899595;
    font-size: rem(28);
    &:focus {
      outline: none;
    }
  }
}

:local(.list) {
  padding: 0;
  margin: 0;
}

:local(.book) {
  display: flex;
  padding: rem(30) rem(42) rem(26) rem(8);

  // border-bottom: 1px solid #d4d4d4;
  @include hairline-bottom(#d4d4d4);

  .left.part {
    width: rem(238);
    margin-right: rem(16);
    padding-top: rem(6);
  }

  .right.part {
    flex: 1;
  }

  .name {
    @include text-ellipsis(2);
    margin-bottom: rem(8);
    white-space: normal;
    font-size: rem(30);
    color: #000;
    text-decoration: none;
  }

  .author {
    margin-bottom: rem(10);
    font-size: rem(26);
    color: #303030;
  }

  .image {
    img {
      display: block;
      max-width: 100%;
    }
  }

  .level-star-component {
    margin-bottom: rem(20);
  }

  .price-component {
    font-size: rem(40);
  }
}
