// .example-enter {
// }

// .example-enter.example-enter-active {
//   .modal {
//     animation: 1s zoomInDown;
//   }
// }

// .example-leave {
// }

// .example-leave.example-leave-active {
//   .modal {
//     animation: 1s zoomOutUp;
//   }
// }

.example-enter {
  opacity: 0.01;
  .modal-dialog {
    transform: scale(0.8);
  }
  &.example-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
    .modal-dialog {
      transform: scale(1);
      transition: transform 300ms ease-in;
    }
  }
}
.example-leave {
  opacity: 1;
  .modal-dialog {
    transform: scale(1);
  }
  &.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-out;
    .modal-dialog {
      transform: scale(0.6);
      transition: transform 300ms ease-out;
    }
  }
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}


@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}